<h2 class="page-header">New Book</h2>


<!-- <form action="../logout" method="GET">
  <div class="form-row form-row-end btn-row">
 <input type="submit" value="Logout">
 </div>
</form> -->
<form action="../logout" method="GET">
  <div class="form-row form-row-end btn-row">
 <input type="submit" value="Admin Logout">
 </div>
</form>
<form action="/books" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
