<h2>Logged in as ... . Your Basket is empty</h2>
<h4>Sorry : You can not Purchase any books at the moment</h4>

<form action="../customers/logout" method="GET">
  <div class="form-row form-row-end btn-row">
 <input type="submit" value="Customer Logout">
 </div>
</form>
